@import './../../../style/colors';

.card {
    border: 1px solid $primary !important;
    color: $font-primary !important; 
    background-color: $secondary !important;
    margin-bottom: 15px;     
    padding: 10px; 
}